<p id="notice"><%= notice %></p>


<table>


  <% Tweet.all.each do |tweet| %>
      <td><%= tweet.content %></td>
      <td><%= link_to 'Show', tweet %></td>
          <% if user_signed_in? && current_user.id == tweet.user_id %>
            <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
            <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>

          <% end %>  
    </tr>
  <% end %>

</table>

<br>

<%= link_to 'New Tweet', new_tweet_path %>
