<p id="notice"><%= notice %></p>



<table>



<% if user_signed_in? %>
  <% current_user.tweets.each do |tweet| %>
    <tr>
      <td><%= tweet.content %></td>
      <td><%= link_to 'Show', tweet %></td>
          <% if current_user.id == tweet.user_id %>
            <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
            <% end %>      
      <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>

<% else %>
  <p class="notice">You must be <%= link_to('logged in', new_user_session_path)  %> to view, edit, or delete your tweets. </p>

<% end %>

</table>

<br>

<%= link_to 'New Tweet', new_tweet_path %>
